/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  vertical-align: top;
}
.col-40 {
  float: left;
  background: #FFF;
  box-sizing: border-box;
  width: 340px;
  height: 600px;
  padding: 30px;
  color: #000;
}

.col-40 #objetivo img {
  width: 100%;
}


.col-60 {
  float: right;
  background: #E84A5F;
  width: 600px;
  height: 600px;
}

#titulo {
  background: #EC6778;
}

#juego div {
  float:left;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  animation: fadein 2s;
  height: 200px;
  border: 0.5px #007c74 solid;
}

#juego img{
    width: 100%;
    height: 100%;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

.footer {
  clear: both;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
